/*ESTE É O ARQUIVO CSS QUE SERÁ USADO NAS PÁGINAS*/
/*AQUI COMEÇA A FORMATAÇÃO DA PÁGINA*/

/****REVISÃO****/

/*PARA TAGS*/
/*h1{} /*NO HTML É A TAG <h1>*/
	/*COLOCAR A FORMATAÇÃO*/


/*PARA ELEMENTOS*/
/*#nomedoelemento{}/*NO HTML ESTARÁ COMO id="nomedoelemento"*/
	/*COLOCAR A FORMATAÇÃO*/	

/*PARA CLASSES*/
/*.nomedaclasse{}NO HTML ESTARÁ COMO class="nomedaclasse"*/
	/*COLOCAR A FORMATAÇÃO*/


/*FORMATANDO AS TAGS*/
body{
	/*COR DO FUNDO*/
	background-color: #87CEEB;
	/*OPÇÕES DAS FONTES*/
	font-family: Arial, Verdana, Tahoma, Sans-Serif;
	/*COR DA FONTE*/
	color: #333;
	/*TAMANHO DA FONTE*/
	font-size: 12px;

}

p{
	/*ESPAÇAMENTO ENTRE AS LINHAS*/
	line-height: 20px;
	/*JUSTIFICAR O TEXTO*/
	text-align: justify;
	font-size: 12px;
}

#p2{
	/*ESPAÇAMENTO ENTRE AS LINHAS*/
	line-height: 120%;
	/*JUSTIFICAR O TEXTO*/
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 15px;
}

h1{
	/*TAMANHO DA FONTE*/
	font-size: 20px;
	text-align: justify;
}

h2{
	/*TAMANHO*/
	font-size: 23px;
	/*ESPAÇO INTERNO PRO TEXTO*/
	padding: 5px;
	/*COR*/
	color: #4C4C4C;
	text-align: justify;
}

/*FORMATAR OS LINKS*/

ul{
	padding: 3px;
	line-height: 38px;
	text-align: left;
	/*TIRAR OS MARCADORES DA LISTA*/
	list-style: none;
}

#ui{
text-align: center;
}

li{
	/*FORMA COMO O TEXTO É MOSTRADO (HORIZONTAL)*/
	display: inline;
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
}

a{/*LINK SEM O MOUSE SOBRE*/
	font-family: "Arial Black", Sans-Serif;
	color: #000000;
	font-size: 16px;
	/*TIRAR A LINHA DO LINK*/
	text-decoration: none;
}

a:hover{/*LINK COM O MOUSE SOBRE*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #666666;
	font-size: 18px;
	text-decoration: none;
	/*DEIXAR NEGRITO - ESPESSURA*/
	font-weight: bold;
	background-color: #00FFFF;
	padding: 10px;
	/*ARREDONDAR AS BORDAS*/
	border-radius: 25px;
	/*SOMBRA*/
	box-shadow: 0 4px 20px cyan; 	
	transition: 0.4s;
}

a:active{/*LINK CLICADO COM O MOUSE SOBRE*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #666666;
	font-size: 15px;
	text-decoration: none;
	/*DEIXAR NEGRITO - ESPESSURA*/
	font-weight: bold;
	background-color: #00FFFF;
	padding: 7px;
	/*ARREDONDAR AS BORDAS*/
	border-radius: 25px;
	/*SOMBRA*/
	box-shadow: 0 4px 20px cyan; 	
	transition: 0.4s;
}

a.linkrodape{/*LINK SEM O MOUSE SOBRE*/
	font-family: "Arial Black", Gadget, Sans-Serif;
	color: #fff;
	font-size: 16px;
	/*TIRAR A LINHA DO LINK*/
	text-decoration: none;
	text-align: center;
}

a.linkrodape:hover{/*LINK COM O MOUSE SOBRE*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #666666;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	/*DEIXAR NEGRITO - ESPESSURA*/
	font-weight: bold;
	background-color:  #00FFFF;
	padding: 10px;
	/*ARREDONDAR AS BORDAS*/
	border-radius: 25px;
	/*SOMBRA*/
	box-shadow: 0 4px 20px cyan; 	
	transition: 0.4s;
}

a.linkrodape:active{/*LINK CLICADO COM O MOUSE SOBRE*/
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #666666;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	/*DEIXAR NEGRITO - ESPESSURA*/
	font-weight: bold;
	background-color:  #00FFFF;
	padding: 7px;
	/*ARREDONDAR AS BORDAS*/
	border-radius: 25px;
	/*SOMBRA*/
	box-shadow: 0 4px 20px cyan; 	
	transition: 0.4s;
}

iframe{
	width: 622px;
	height: 510px;
	float: center;
	background-color: #87CEEB;
}

/*CONFIGURAÇÃO DE CLASSES*/
.Laterais{
	text-align: center;
	font-size: 20px;
	color: black;
}

/*CONFIGURAÇÃO DOS ELEMENTOS*/
#pagina{
	background-color: #87CEEB;
	width: 1024px;
	height: 650px;
	margin: 0 auto;
	margin-top: -16px;
	text-align: center;
}

#topo{
	width: 1024px;
	height: 100px;
	/*IMAGEM NO FUNDO DA DIV*/
	background-image: url(../imagens/banner5.0.png);
	box-shadow: 0 2px 10px #2F4F4F;
}

#cont_central{
	width: 825px;
	height: 512px;
	background-color:  #87CEEB;
}

#cont_esq{
	width: 200px;
	height: 512px;
	background-color: #20B2AA;
	/*POSICIONAR NA ESQUERDA*/
	float: left;
	/*ARREDONDAR AS BORDAS*/
	
}



#cont_dir{
	width: 200px;
	height: 513px;
	float: right;
	margin-top: -512px;
}

#cont_1{
	width: 200px;
	height: 170px;
	text-align: center;
	background-color: #20B2AA;
}

#cont_2{
	width: 200px;
	height: 170px;
	text-align: center;
	size: 10px;
	background-color: #20B2AA;
	
}

#cont_3{
	width: 200px;
	height: 172px;
	text-align: center;
	background-color: #20B2AA;
}

#rodape{
	text-align: center;
	width: 1024px;
	height: 100px;
	background-color: #003a3a;
	box-shadow: 0 4px 15px #000;
	color: #FFF;
	padding-top: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #48D1CC;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #00BFFF;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: lightblue;
  display: none;
  overflow: hidden;
  text-align: justify;
}

.container {
  position: relative;
  width: 290px;
  text-align: center;
}

.image {
  display: block;
  width: 270px;
  height: 320px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 270px;
  height: 320px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  text-align: justify;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}